

.code-form {
  width: 90%;
  margin: 0 auto;
}

.input-boxes {
  margin-top: 4rem;
  display: flex;
}

.input,
.documentation {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.input {
  resize: vertical;
}

.clear,
.submit {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear:hover,
.submit:hover {
  background-color: #2980b9;
}

.input,
.documentation,
.language,
label {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.translate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.input,
.documentation,
label,
.clear,
.submit {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mrr {
  margin-right: 0.5em;
}
.btn {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.btn > button {
  padding: 1rem;
  font-weight: bold;
}
